@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@800&family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@800&family=Black+Ops+One&family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-family: "Bitter";
  padding-top: 0;
}

h2 {
  font-family: "Chewy";
}

nav {
  padding: 5vh;
  background-color: #6cc408;
  display: flex;
  justify-content: space-between;
}
nav ul, nav li {
  display: flex;
}
nav ul {
  margin: 0;
}
nav li {
  margin-right: 3vw;
}
nav li a {
  text-decoration: none;
  font-family: "Black Ops One";
  color: black;
  margin-bottom: 0.5%;
}
nav li a:hover {
  text-decoration: underline;
}

.hero {
  background-image: url("../source/greenery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10;
  height: 90vh;
  display: flex;
}
.hero .desc {
  padding: 3%;
  margin: auto;
  text-align: center;
  font-family: "Ubuntu";
  color: whitesmoke;
  text-shadow: 3px 3px 5px black;
}

.project-desc {
  background-color: #6cc408;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  display: flex;
  justify-content: space-between;
  padding: 3%;
  padding-top: 10%;
}

.team {
  height: 60vh;
  padding: 3%;
}

.our-team {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 90% 10%;
  height: 80%;
}
.our-team span {
  text-align: center;
}
.our-team .team-member {
  margin: 2%;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
}

#footer {
  background-color: #6cc408;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  font-family: Helvatica, Arial, sans-serif;
}

.links {
  width: 50vw;
  font-family: "Ubuntu";
  display: flex;
  justify-content: space-between;
}
.links ul, .links li {
  list-style-type: none;
  text-decoration: none;
}
.links li {
  padding: 2%;
}
.links a {
  text-decoration: none;
  color: azure;
  font-size: large;
  font-weight: 900;
}
.links a:hover {
  text-decoration: underline;
  font-size: larger;
}

h2:hover {
  color: azure;
  font-weight: 900;
}

h3:hover {
  color: azure;
  font-weight: 900;
}

.user {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 20px;
}
.user .login {
  margin-top: 10%;
  min-width: 50%;
}
.user .login .box {
  margin: 0 10% 20% 10%;
  padding: 5%;
  border: 1px solid #dadce0;
  border-radius: 10px;
  background-color: #6cc408;
}
.user .login .box form > * {
  display: block;
  padding: 2% 0;
  text-align: center;
}
.user .login .box #invalid {
  font-family: "Candara";
  color: red;
  font-size: 13px;
}
.user .login .box span {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
}
.user .login .box label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.user .login .box a {
  text-decoration: none;
  font-family: "Candara";
  color: black;
  margin-top: 3%;
  font-size: 15px;
}
.user .login .box a:hover {
  text-decoration: underline;
}
.user .login .box #submit {
  margin: auto;
  margin-top: 3px;
  padding: 7px 15%;
  border: 0.5px solid #b6b6b6;
  border-radius: 3px;
  font-family: "sans-serif";
  font-weight: bold;
  color: white;
  background-color: #5f5ffa;
  cursor: pointer;
}
.user .login .box #submit:hover {
  border: 1px solid black;
}
.user .login .box .text {
  padding: 5px;
  margin-left: 2px;
  border-radius: 5px;
  border: 0.5px solid #b6b6b6;
  min-width: 60%;
  font-family: "Lato";
  font-size: 1.01em;
}
.user .login .box .text:focus {
  outline: none;
  border: 0.5px solid grey;
  box-shadow: 0 1px 6px 0 #171717;
}
.user .register {
  margin-top: 5%;
  min-width: 50%;
}
.user .register .box {
  margin: 0 10% 20% 10%;
  padding: 5%;
  border: 1px solid #dadce0;
  border-radius: 10px;
  background-color: #6cc408;
}
.user .register .box form > * {
  display: block;
  padding: 2% 0;
  text-align: center;
}
.user .register .box .grid-container {
  display: grid;
  grid-template-columns: 30% auto;
  grid-column-gap: 2%;
  grid-row-gap: 5%;
  margin-bottom: 10%;
}
.user .register .box .grid-container .label {
  display: flex;
  text-align: right;
}
.user .register .box #invalid {
  font-family: "Candara";
  color: red;
  font-size: 13px;
}
.user .register .box span {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
}
.user .register .box label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.user .register .box a {
  text-decoration: none;
  font-family: "Candara";
  color: black;
  margin-top: 3%;
  font-size: 15px;
}
.user .register .box a:hover {
  text-decoration: underline;
}
.user .register .box #submit {
  margin: auto;
  margin-top: 3px;
  padding: 7px 15%;
  border: 0.5px solid #b6b6b6;
  border-radius: 3px;
  font-family: "sans-serif";
  font-weight: bold;
  color: white;
  background-color: #5f5ffa;
  cursor: pointer;
}
.user .register .box #submit:hover {
  border: 1px solid black;
}
.user .register .box .text {
  padding: 5px;
  margin-left: 2px;
  border-radius: 5px;
  border: 0.5px solid #b6b6b6;
  min-width: 60%;
  font-size: 1.01em;
}
.user .register .box .text:focus {
  outline: none;
  border: 0.5px solid grey;
  box-shadow: 0 1px 6px 0 #171717;
}
.user .register .box i {
  margin-left: -30px;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
