{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'website/user.css' %}">
    <title>{{ request.user.username }}</title>
    </head>
    <body>
        <div class="top">
            <button style="font-size: 20px;"><a href="{% url 'index' %}">Go back</a></button>
        </div>
        <h1 class="welcome">WELCOME {{ request.user.first_name }} {{ request.user.last_name }}</h1>
        <div id="image">
            <div class="hello">
                <div class="info"> <div class="box">User Name: {{ request.user.username }}</div></div>
                
                <div class="info"> <div class="box">Crop Name: {{ plantname }}</div></div>
    
                <div class="info">  <div class="box">Moisture Content: </div> </div>
                
                <div class="info"> <div class="box">Lights Active: </div></div> 
            </div>
        </div>
    </body>
</html>